# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/


# PyCharm settings
.idea/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Test coverage
.coverage
htmlcov/
src/.env

